
// css 变量
$--color-main: #5CDAFD;
$--color-main-hover: #1F80BD;
$--color-warning: #D078FF;
$--color-warning-hover: #A625EB;
$--color-main-gradient:  linear-gradient( 270deg, #5CDAFD 0%, #B02FFF 100%);
$--full-height: var(--full-height);

